@model JooleProject.Models.tblCategory

@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>


@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    @Html.DropDownList("CatIDSearch", (SelectList)ViewBag.catselect, new { @class = "form-control col-md-3 select-add-placeholder" })
    @Html.TextBox("SearchSubcat", "",new { @class = "form-control col-md-3 " })

    <input type="submit" value="Search" class="btn btn-default" />

}

<h4 style="color:purple">

    CatID: @ViewBag.CatIDSearch<br />
    Subcategory:@ViewBag.SearchSubcat

</h4>

@section Scripts
{
    <script>
        $(function () {
            $(".select-add-placeholder").prepend("<option value='' disabled selected>Select a category</option>");
        })

    </script>
}