<form class="row contact-form rounded-pill link no-gutters" id="contact-form-data">
    @using (Html.BeginForm("Search","Search", FormMethod.Post, new { @class = "row contact-form rounded-pill link no-gutters" }))
    {
        <div class="col-12 col-lg-8 d-inline-block d-lg-flex align-items-center">
            <div class="form-group">
                <label><i aria-hidden="true"></i></label>
                <input type="text" name="Category Name" placeholder="Category Name" class="form-control">
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <i class="fa fa-spinner fa-spin mr-2 d-none" aria-hidden="true"></i>
            <input type="submit" class="btn main-btn rounded-pill w-100 h-100 contact_btn" value="Search" />
        </div>
    }
</form>