@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <asp:TextBox ID="txtNumber"
                 placeholder="Enter 5 digit number"
                 Width="300px"
                 runat="server">
    </asp:TextBox>
    <br />
    <asp:TextBox ID="txtName"
                 placeholder="Enter your Name"
                 Width="300px"
                 runat="server">
    </asp:TextBox>
</div>

<div class="jumbotron">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1>ASP.NET</h1>
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <input type="button" class="btn btn-primary btn-lg" value="Login" onclick="location.href='@Url.Action("Index", "Search")'" />
</div>

